.title {
    font-size: 38px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
}


@media screen and (max-width: 984px) {
    .title {
        font-size: 28px;
    }
  }

  @media screen and (max-width: 420px) {
    .title {
        font-size: 22px;
        line-height: 32px;
    }
  }
