.header {
  display: flex;
  justify-content: space-between;
  padding: 55px 80px 0 80px;
}

/* @media screen and (max-width: 1124px) {
    .header {
      padding-bottom: 48px;
    }
  }

@media screen and (max-width: 984px) {
  .header {
    padding: 28px 24px 48px;
  }
}

@media screen and (max-width: 568px) {
  .header {
    padding: 16px 16px 48px;
  }
} */
