.header {
  display: flex;
  justify-content: space-between;
  padding: 55px 80px 0;
}

@media screen and (max-width: 984px) {
    .header {
      padding: 40px 40px 0;
    }
  }

  @media screen and (max-width: 725px) {
    .header {
      padding: 20px 20px 0;
    }
  }

  @media screen and (max-width: 420px) {
    .header {
      flex-wrap: wrap;
      padding: 16px 16px 0;
    }
  }

  /*
@media screen and (max-width: 984px) {
  .header {
    padding: 28px 24px 48px;
  }
}

@media screen and (max-width: 568px) {
  .header {
    padding: 16px 16px 48px;
  }
} */
