.intro__wrap {
    width: 50%;
    max-width: 420px;
    max-height: 420px;
    margin: 0 auto;
    margin-bottom: 150px;
    margin-top: 100px;
    padding-left: 30px;
}

@media screen and (max-width: 984px) {
  .intro__wrap {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 725px) {
    .intro__wrap {
      margin-top: 40px;
      margin-bottom: 40px;
      width: 100%;
      height: 300px;
      padding: 0;
    }
  }
