.black-sea__content {
  padding-left: 85px;
  padding-right: 45px;
  padding-bottom: 80px;
}

@media screen and (max-width: 984px) {
  .black-sea__content {
    padding-left: 45px;
  }
}

@media screen and (max-width: 984px) {
  .black-sea__content {
    padding: 0 25px 32px;
  }
}
