.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 730px;
    background-color: #fecda7;
}

@media screen and (max-width: 1124px) {
    .footer {
      height: 400px;
    }
  }

  @media screen and (max-width: 984px) {
    .footer {
      height: 200px;
    }
  }

  @media screen and (max-width: 725px) {
    .footer {
      height: 100px;
    }
  }

  @media screen and (max-width: 420px) {
    .footer {
      height: 70px;
    }
  }