.people__text {
    max-width: 480px;
    padding-bottom: 140px;
}

@media screen and (max-width: 984px) {
    .people__text  {
      padding-bottom: 70px;
    }
  }

  @media screen and (max-width: 420px) {
    .people__text  {
      padding-bottom: 50px;
    }
  }
