.intro__content {
  padding-top: 230px;
  width: 50%;
}

@media screen and (max-width: 984px) {
  .intro__content {
    padding-top: 150px;
  }
}

@media screen and (max-width: 725px) {
    .intro__content {
      padding-top: 0;
      padding-bottom: 25px;
      width: 100%;
    }
  }
